<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wb.tracun.costapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity -->
        <!-- android:name=".activity.fragments.ProdutoCustoFragment" -->
        <!-- android:label="@string/title_activity_custo" -->
        <!-- android:parentActivityName=".activity.CadastroRateioActivity"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.PARENT_ACTIVITY" -->
        <!-- android:value="com.wb.tracun.costapp.activity.CadastroRateioActivity" /> -->
        <!-- </activity> -->
        <activity
            android:name=".activity.fragments.BaseDadosActivity"
            android:label="@string/title_activity_unidades"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.CadastroProdutoActivity" />
        <activity android:name=".activity.CadastroBaseDadosActivity" />
        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wb.tracun.costapp.activity.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>